bin/*
build/*
shaders/spv/*
compile_commands.json
tags
tanto
.clangd
out/images
out
tex-painter
chalkboard.so
standalone.so
hell
houdini.so
painter
painter.exe
chalkboard.dll
standalone.dll
houdini.dll
log.txt
